[submodule ".emacs.d/packages/hledger-mode"]
	path = .emacs.d/packages/hledger-mode
	url = https://github.com/narendraj9/hledger-mode.git
[submodule ".emacs.d/packages/move-text"]
	path = .emacs.d/packages/move-text
	url = https://github.com/emacsfodder/move-text.git
[submodule ".emacs.d/themes/nord-theme"]
	path = .emacs.d/themes/nord-theme
	url = https://github.com/nordtheme/emacs.git
[submodule ".emacs.d/packages/password-store"]
	path = .emacs.d/packages/password-store
	url = https://github.com/zx2c4/password-store.git
